__pycache__/
*.so
riskparityportfolio.egg-info/
var/
.DS_Store
.coverage*
docs/source/tutorials/.ipynb_checkpoints/*
.ipynb_checkpoints/*

# IDE project files
.idea/

# Distribution / packaging
dist/
eggs/
build/
riskparityportfolio.egg-info

